.App{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    
}

.list-todo-all{
    justify-self: center;
    align-self: center;
    text-align: center;
    background:linear-gradient(
    185deg,
     rgba(0, 17, 29, 0.274) 0%,
     rgba(0, 0, 116, 0.158) 98%
    );
    border-radius: 9px;
    margin: 5px;
    padding: 1em 2em;
    color: #fff;
    width: 95%;
    height: 86vh;
    overflow-y:hidden;
    display: flex;
    flex-direction: column;
    
}

.add-button-span{
    align-self: center;
    width: 2rem;
    display: flex;
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
    margin-left: 1rem;
    margin-right: 1rem;

}
.add-button-span svg{
    align-self: center;
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
    cursor: pointer;
    transition: .5s;
    font-size: 4rem;    

}
.header-list{
    align-self: center;
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-top: 2em;
}
.total-value-container{
    
    background-color: rgba(24, 37, 37, 0.18);
    width: 100%;
    padding: 15px;
    border-radius: 5px;

}
.total-value{
    text-align: center;
}
.filter-todo{
    align-self: center;
    border-radius: 5px;
    width: 35%;
    border-bottom: solid 1px #6781a1;
    border-left: solid 1px #6781a1;
    padding: 0.5rem;
}

.filter-todo .actions{
    margin-top: 8px;
    margin-bottom: 8px;
    
}

.todo-valor{
    font-weight: bold; 
}
.list-todo{
    display: flex;
    flex-direction: column;
    border-top: 1px solid #6781a1;
    text-align: center;
    margin: 1em 2em;
    overflow-y: scroll;
}

.list-todo-all h2{
    padding: 0;
    margin: 4px;
}

.list-todo p{
    text-align: center;
}

.todo{
    display: flex;
    flex-direction: column;
    background:linear-gradient(
        185deg,
         rgba(30, 109, 122, 0.445) 0%,
         rgba(74, 74, 92, 0.103) 98%
        );
    align-self: center;
    border-right: 3px solid #7990ad;
    border-top: 3px solid #879fbd;
    border-radius: 5px;
    width: 90%;
    padding: 0.8em 0;
    margin: 5px;
}

.todo h3{
    margin-bottom: .5em;
}

.todo p{
    text-align: center;
    font-size: 1em;

}

svg{
    font-size: 1.2em;
    cursor: pointer;
    margin-right: 1em;
    transition: .5s;

    
}

svg:hover{
    color: aquamarine;
}


.App input[type="checkbox"]{
    cursor: pointer;
}

.todo-header {
    padding: 0.5em;
    border-bottom: 1px solid #6781a1;
    text-align: center;
    
}

.todo-header h1{
    margin: 0;
}


.todo-form-hidden{
    display: flex;
    flex-direction: column;
    visibility: hidden;
}
.todo-form{
    display: flex;
    flex-direction: column;
}

.form-todo{
    display: flex;
    flex-direction: column;
    position:absolute;
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto; 
    margin-top: auto;
    margin-bottom: auto;
    width: 35%;
    border-radius: 6px;
    left: 0; 
    right: 0; 
    text-align: center;
    padding: 1em;
    border-bottom: 4px solid #7e8389;
    border-left: 4px solid #959798;
    border-right: 5px solid #bbc4d0;
    border-top: 5px solid #c9cfd7;
    background-color: rgba(234, 236, 240, 0.973);
    backdrop-filter: blur(1.5rem);
    color: #222;
}

.form-todo h2{
    text-align: center;
    margin-top: 0;
}



.form{
    display: flex;
    flex-direction: column;
    align-self: center;
    border-radius: 5px;
    padding: 0.5em;
}
.hidden-menu{

    display: flex;
    flex-direction: column;

}
.delete-button{
    align-self: center;
    width: 25%;
    margin: 1rem;
}

.editing{
    align-self: center;
    width: 40%;
}

.form-control{
    align-self: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
}

.form-control label{
    font-weight: bold;
    font-size: 1.0em;
    margin-bottom: 0.4em;
}
.form-control input{
    border: 1px solid #222;
    border-radius: 2px;
    background-color: #5c6a7c;
    padding: 0.4em;
    color: #ffffff;
    font-weight: bold;
    text-align: center;
}
input[type="submit"]{

    background-color: #6DA2E3;
    color: #eee;
    font-weight: bold;
    display: block;
    width: 100%;
    border: 1px solid #222;
    border-radius: 5px;
    padding: 0.7em;
    cursor: pointer;
    margin: 0.5px;
}
.year-picking{

    border: 1px solid #222;
    border-radius: 2px;
    background-color: #456791;
    padding: 0.4em;
    margin: 0.4em;
    color: #ffffff;
    font-weight: bold;
    text-align: center;
    width: 45%;
}
select{
    border: 1px solid #222;
    border-radius: 2px;
    background-color: #456791;
    padding: 0.4em;
    margin: 0.4em;
    color: #ffffff;
    font-weight: bold;
    text-align: center;
    width: 45%;
}

.App button{
    background-color: #6DA2E3;
    color: #eee;
    font-weight: bold;
    display: block;
    width: 100%;
    border: 1px solid #222;
    border-radius: 5px;
    padding: 0.7em;
    cursor: pointer;
    margin: 0.5px;
}

.todo-chart{
    display: flex;
    flex-direction: column;
    position:absolute;
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto; 
    margin-top: auto;
    margin-bottom: auto;
    width: 35%;
    border-radius: 6px;
    left: 0; 
    right: 0; 
    text-align: center;
    padding: 1em;
    border-bottom: 4px solid #7e8389;
    border-left: 4px solid #959798;
    border-right: 5px solid #bbc4d0;
    border-top: 5px solid #c9cfd7;
    background-color: rgba(234, 236, 240, 0.973);
    backdrop-filter: blur(1.5rem);
    color: #222;
}
.chart{
    display: flex;
    flex-direction: column;
    width: auto;
    height: auto;
}

.todo-chart-title{
    align-self: flex-end;
    width: 2rem;
    height: 1rem;
    margin: 2px;
    border-radius: 9px;
}

.todo-chart-one{
    size: 10px;
    height: 25%;
    margin: 2px;
    border-radius: 9px;
}
.todo-chart-one svg{
    height: 20rem;
}
.legenda{
    margin: 4px;
    display: flex;
    flex-direction: row;
}
.comida{
    background-color: #6A2135;
    height: 20px;
    width: 25px;
    border-radius: 2px;
    margin: 2px;
}
.vet{
    background-color: #C13C37;
    height: 20px;
    width: 25px;
    border-radius: 2px;
    margin: 2px;
}
.banho{
    background-color: #E38627;
    height: 20px;
    width: 25px;
    border-radius: 2px;
    margin: 2px;
}
.outros{
    background-color: #6A5185;
    height: 20px;
    width: 25px;
    border-radius: 2px;
    margin: 2px;
}
.todo-chart-filter{
    align-self: center;
    justify-self: center;
    text-align: center;
    width: 100%;
}
