html{
  display: flex;
  flex-direction: column;
  background: linear-gradient(
    85deg,
    rgba(69,133,186, 0.8) 0%,
    rgba(69,186,181,0.8) 97%
  );
  color: #fff;
  height: 100%;
  width: 100%;
  align-self: center;
}

body{
  margin: 0;
  padding: 0;
  font-family: Helvetica;
}